:root {
  /* COLORS */
  --color-white: #fff;
  --color-black: #000;

  --color-bg-primary: #040617;

  --color-stats-bg: #00270f;

  --color-accent-1: #c70601;
  --color-accent-2: #ffe085;

  --color-sky: #88e0fa;
  --color-ground: #95431a;
}

@font-face {
  font-family: "Mont";
  src: url("font/Mont-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Mont";
  src: url("font/Mont-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Mont";
  src: url("font/Mont-Thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Mont";
  src: url("font/Mont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("font/Mont-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("font/Mont-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Mont";
  src: url("font/Mont-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Mont";
  src: url("font/Mont-Heavy.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Mont";
  src: url("font/Mont-Black.ttf") format("truetype");
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: "Mont", sans-serif;
}

a {
  text-decoration: none;
}

.blue-background {
  background-color: var(--color-bg-secondary);
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 100%;
  border-radius: 50px 50px 0 0;
  border-top: 1px solid var(--color-blue-border);
}

@media (max-height: 850px) {
  .blue-background {
    top: 70px;
  }
}

@media (max-height: 720px) {
  .blue-background {
    top: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-txt-primary);
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 17px;
  font-weight: 200;
}

h5 {
  font-size: 12px;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 350px) {
  h1 {
    font-size: 20px;
  }
}

li {
  list-style: none;
}
