body {
  width: 100%;
  height: 100%;
  position: relative;
}

#dashboard {
  padding: 15px 19px;
  height: 100%;
}

#loading {
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
}

.ground-mushroom {
  width: 30px;
  position: absolute;
  top: 14%;
  right: 15%;
  height: auto;
  z-index: 1;
}

.ground-brown-mushroom {
  position: absolute;
  left: 20%;
  top: 38%;
  width: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-username-img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 6px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.header-username-name {
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 00) 100%
  );
}

.header-mariocoin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  position: relative;
}

.header-mariocoin-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: -1;
}

.header-mariocoin-container span {
  transform: rotate(-90deg);
  font-size: 20px;
}

.header-mariocoin-coin {
  width: 15px;
}

.header-mariocoin-title {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 70px;
  justify-content: center;
  row-gap: 5px;
  border: 1px solid var(--color-white);
  border-radius: 15px;
  padding: 15px 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: #ffe50066;
  background: linear-gradient(to top, #ffe50066, rgba(255, 255, 255, 0.4));
  background: -webkit-linear-gradient(
    to top,
    #ffe50066,
    rgba(255, 255, 255, 0.4)
  );
}

.stat-card-value {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.stat-card-value img {
  width: 20px;
}

.stat-card-value p,
.stat-card-value span {
  text-transform: uppercase;
  font-weight: 700;
}

.total {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

@media (max-height: 550px) {
  .total {
    padding: 5px;
  }
}

.total-coins {
  display: flex;
  align-items: center;
  align-items: center;
  column-gap: 5px;
}

.total-coins img {
  width: 40px;
}

@media (max-height: 580px) {
  .total-coins img {
    width: 30px;
  }
}

.total-coins span {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (max-height: 580px) {
  .total-coins span {
    font-size: 25px;
  }
}

.total-lvl {
  position: relative;
}

.total-lvl-progress {
  position: relative;
}

.total-lvl-bar {
  position: absolute;
  height: 20%;
  bottom: 50%;
  left: 5px;
  z-index: 10;
  border-radius: 3px;
  background: -webkit-linear-gradient(
    to right,
    #e0902c 0%,
    #edd823 25%,
    #a0c025 50%,
    #2bcb92 75%,
    #00ffff 100%
  );
  background: linear-gradient(
    to right,
    #e0902c 0%,
    #edd823 25%,
    #a0c025 50%,
    #2bcb92 75%,
    #00ffff 100%
  );
}

@media (max-width: 370px) {
  .total-lvl-bar {
    height: 13%;
  }
}

.total-lvl-bar-flag {
  width: 30px;
  position: absolute;
  top: -2px;
  right: -1px;
  z-index: 10;
}

@media (max-width: 370px) {
  .total-lvl-bar-flag {
    width: 20px;
  }
}

.total-lvl-bar-container {
  width: 320px;
}

@media (max-width: 370px) {
  .total-lvl-bar-container {
    width: 250px;
  }
}

.total-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.total-profile-name {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 2px 6px;
  background-color: var(--color-sky);
}

.total-profile img {
  width: 20px;
}

.total-profile-lvl {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
  background-color: var(--color-accent-2);
  padding: 1px 15px;
  border-radius: 30px;
}

.total-profile-lvl h5 span {
  font-size: 16px;
  font-weight: 500;
}

.tap {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(5%, -7%);
}

.tap img {
  width: 320px;
}

@media (max-height: 690px) {
  .tap img {
    width: 250px;
  }
}

@media (max-height: 620px) {
  .tap img {
    width: 220px;
  }
}

@media (max-height: 580px) {
  .tap img {
    width: 200px;
  }
}

@media (max-height: 540px) {
  .tap img {
    width: 170px;
  }
}

#tap-effect {
  transition: all 0.3s ease;
  perspective: 1000px;
}

.plus-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--color-accent-1);
  opacity: 1;
  animation: moveUpFadeOut 1s ease-out forwards;
  text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -webkit-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -moz-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -ms-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3);
}

@keyframes moveUpFadeOut {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -350%);
    opacity: 0;
  }
}

.boost {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 8px 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 243, 105, 0.5);
  background: linear-gradient(
    to left,
    rgba(255, 243, 105, 0.5) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    to left,
    rgba(255, 243, 105, 0.5) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (max-height: 690px) {
  .boost {
    padding: 5px 10px;
  }
}

@media (max-height: 580px) {
  .boost {
    padding: 3px 5px;
  }
}

.boost-card {
  position: relative;
  padding: 2px 5px 2px 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boost-card:not(:first-child) {
  border: 1px solid var(--color-white);
}

.boost-img {
  position: absolute;
  left: 5px;
  top: -12px;
  width: 28px;
}

@media (max-height: 690px) {
  .boost-img {
    width: 20px;
    top: -8px;
    left: 12px;
  }
}

.boost-arrow {
  width: 25px;
  padding: 5px;
}

.boost-img-potion {
  position: absolute;
  left: 0;
  top: -5px;
  width: 36px;
}

@media (max-height: 690px) {
  .boost-img-potion {
    width: 28px;
    top: -3px;
    left: 5px;
  }
}

.boost-arrow {
  font-size: 25px;
  color: var(--color-white);
}

.boost-title {
  color: var(--color-white);
  font-size: 13px;
  font-weight: 200;
}

.loading-bg {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.bg-container {
  position: relative;
  z-index: 1;
}

.bg-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

#loader {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
[l] {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}
[a] {
  left: 35px;
}
[b] {
  right: 10px;
  top: 10px;
  animation-delay: 0.2s;
}
[c] {
  top: 35px;
  right: 0;
  animation-delay: 0.4s;
}
[d] {
  right: 10px;
  bottom: 10px;
  animation-delay: 0.6s;
}
[e] {
  left: 35px;
  bottom: 0;
  animation-delay: 0.8s;
}
[f] {
  left: 10px;
  bottom: 10px;
  animation-delay: 1s;
}
[g] {
  top: 35px;
  left: 0;
  animation-delay: 1.2s;
}
[h] {
  left: 10px;
  top: 10px;
  animation-delay: 1.4s;
}
@keyframes loader {
  0% {
    background: #fff;
  }
  100% {
    background: #0000;
  }
}

.loader-title {
  color: #fff;
  font-size: 15px;
  font-family: "Mont", sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.footer img {
  width: 300px;
}

.footer h5 {
  color: #fff;
  font-size: 15px;
  font-family: "Mont", sans-serif;
  font-weight: 600;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-item {
  background-color: #808080;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.social-item img {
  width: 20px;
}

.footer span {
  color: #808080;
  font-size: 12px;
  font-family: "Mont", sans-serif;
  font-weight: 200;
}
