body {
  padding: 15px 25px;
}

.cloud-1 {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.cloud-2 {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: -1;
}

.cloud-3 {
  position: absolute;
  left: 0;
  top: 45%;
  z-index: -1;
}

.ground-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.pipe-left {
  position: absolute;
  bottom: 120px;
  left: 0;
  z-index: -1;
}

.ground-mushroom {
  position: absolute;
  bottom: 210px;
  right: 60px;
}

.pipe-right {
  position: absolute;
  bottom: 220px;
  right: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-username-img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 6px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.header-username-name {
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.header-mariocoin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  position: relative;
}

.header-mariocoin-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.header-mariocoin-container span {
  transform: rotate(-90deg);
  font-size: 20px;
}

.header-mariocoin-coin {
  width: 15px;
}

.header-mariocoin-title {
  font-family: "Mont-heavy";
  font-size: 11px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 70px;
  justify-content: center;
  row-gap: 5px;
  border: 1px solid var(--color-white);
  border-radius: 15px;
  padding: 15px 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: #ffe50066;
  background: linear-gradient(to top, #ffe50066, rgba(255, 255, 255, 0.4));
  background: -webkit-linear-gradient(
    to top,
    #ffe50066,
    rgba(255, 255, 255, 0.4)
  );
}

.stat-card-title {
  font-size: 11px;
}

.stat-card-value {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.stat-card-value img {
  width: 15px;
}

.stat-card-value span {
  font-family: "Mont-heavy";
  text-transform: uppercase;
}

.total {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.total-coins {
  display: flex;
  align-items: center;
  align-items: center;
  column-gap: 5px;
}

.total-coins img {
  width: 30px;
}

.total-coins span {
  font-family: "Mont-heavy";
  font-size: 30px;
  text-align: center;
}

.total-lvl {
  position: relative;
}

.total-lvl-progress img {
  width: 100%;
}

.total-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  padding: 10px 0;
}

.total-profile-name {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 1px 5px;
}

.total-profile img {
  width: 20px;
}

.total-profile span {
  font-size: 13px;
}

.total-profile-lvl {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: 1px solid var(--color-white);
  background-color: var(--color-accent-2);
  padding: 5px 15px;
  border-radius: 30px;
}

.total-profile-lvl h5 span:nth-child(1) {
  font-family: "Mont-heavy";
  font-size: 18px;
}

.tap {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-45%);
}

.tap img {
  width: 300px;
}

#tap-effect {
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  perspective: 1000px;
}

.plus-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--color-accent-2);
  opacity: 1;
  animation: moveUpFadeOut 1s ease-out forwards;

  text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -webkit-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -moz-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3),
    1px 1px 0 var(--color-accent-3);
  -ms-text-shadow: -1px -1px 0 var(--color-accent-3),
    1px -1px 0 var(--color-accent-3), -1px 1px 0 var(--color-accent-3);
}

@keyframes moveUpFadeOut {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -350%);
    opacity: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px 20px;
}

.boost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 8px 35px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.boost-energy {
  position: relative;
  border: 1px solid var(--color-white);
  padding: 5px 5px 5px 35px;
  border-radius: 30px;
  column-gap: 5px;
}

.boost-enery-img {
  position: absolute;
  left: 5px;
  top: -12px;
  width: 30px;
}

.boost-enery-title {
  color: var(--color-white);
}
