body {
  padding: 10px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-username-img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

.header-username-name {
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.header-mariocoin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  position: relative;
}

.header-mariocoin-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.header-mariocoin-container span {
  transform: rotate(-90deg);
  font-size: 20px;
}

.header-mariocoin-coin {
  width: 15px;
}

.header-mariocoin-title {
  font-family: "Mont-heavy";
  font-size: 11px;
}
