body {
  background-color: var(--color-bg-primary);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-title span {
  color: var(--color-txt-secondary);
}

.nav-burger span {
  color: var(--color-txt-primary);
  cursor: pointer;
}

.stats-container {
  padding: 10px 20px;
  margin: 0 20px;
  background-color: var(--color-stats-bg);
  border-radius: 15px;
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-item {
  text-align: center;
}

.stats-item:nth-child(2) h5 {
  color: var(--color-accent-2);
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}

.stats-item-select {
  color: var(--color-txt-primary);
  font-size: 13px;
  font-weight: 100;
}

.stats-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.stats-item-img img {
  width: 20px;
}

.stats-item-number {
  color: var(--color-txt-primary);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.total-coins {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.total-coins-img {
  width: 35px;
}

.total-coins-number {
  font-size: 35px;
  font-weight: 300;
}

.tap-to-earn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tap-to-earn-img {
  width: 250px;
}

.boosts-container {
  padding: 10px 40px;
}

.boosts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boosts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}

.boosts-item-img {
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 7px;
  border-radius: 23px;
  align-items: center;
  background: #43b047;
  background: -webkit-radial-gradient(circle, #43b047 0%, #296c2c 100%);
  background: radial-gradient(circle, #43b047 0%, #296c2c 100%);
}

.boosts-item-img img {
  width: 50px;
}

.boosts-item span {
  color: var(--color-txt-primary);
  font-size: 15px;
}

.boosts-item:nth-child(1) span {
  font-size: 12px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.footer-nav {
  background-color: var(--color-skill-bar-bg);
  border-radius: 10px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.footer-item {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
}

.footer-item-title {
  font-size: 12px;
}

.footer-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  border-radius: 15px;
  width: 100%;
  padding: 3px 0;
}

.footer-item-link img {
  width: 40px;
  filter: drop-shadow(0 0 10px var(--color-shadow));
}

.footer-item-link span {
  color: var(--color-txt-primary);
  font-size: 25px;
}

.active {
  background: var(--color-blue-gradient-1);
  background: -webkit-linear-gradient(
    0deg,
    var(--color-blue-gradient-1) 0%,
    var(--color-blue-gradient-2) 100%
  );
  background: linear-gradient(
    0deg,
    var(--color-blue-gradient-1) 0%,
    var(--color-blue-gradient-2) 100%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 20;
}
