body {
  background-color: var(--color-white) !important;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 19px;
}

.share-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.invite-card {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: 1px solid var(--color-white);
  padding: 13px 30px;
  border-radius: 40px;
  background: #3b3b3b;
  background: -webkit-linear-gradient(0deg, #3b3b3b 0%, #171716 100%);
  background: linear-gradient(0deg, #3b3b3b 0%, #171716 100%);
}

.invite-card:first-child {
  padding: 13px 40px;
}

@media (max-width: 435px) {
  .invite-card {
    padding: 12px 20px;
  }

  .invite-card:first-child {
    padding: 12px 30px;
  }
}

@media (max-width: 370px) {
  .invite-card {
    padding: 10px 20px;
  }

  .invite-card:first-child {
    padding: 10px 20px;
  }
}

.invite-card span {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 200;
}

.invite-card img {
  width: 20px;
}

.invite-card:last-child img {
  width: 15px;
}

.friends-container {
  position: relative;
  margin-top: 70px;
  border: 1px solid var(--color-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 70px 20px 20px 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(56, 90, 113, 0.9) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(56, 90, 113, 0.9) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  overscroll-behavior: auto;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 130px;
}

.header-img {
  width: 190px;
  height: 132px;
  position: absolute;
  z-index: 2;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.friends-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3px;
}

.friends-title h5 {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 500;
}

.friends-title p {
  color: var(--color-white);
  font-size: 10px;
  font-weight: 400;
}

.friends-header-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-card {
  position: relative;
  padding: 10px 5px;
  border-radius: 18px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  height: 200px;
}

.header-card-1-img {
  width: 111px;
  height: 130px;
}

.header-card-2-img {
  width: 111px;
  height: 111px;
}

.header-card-2-img,
.header-card-1-img {
  position: absolute;
  top: -20px;
}

.header-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  row-gap: 5px;
}

.header-card-info h5 {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.header-card-info p {
  color: var(--color-white);
  font-size: 10px;
  font-weight: 100;
}

.invite-bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  position: absolute;
  bottom: 10px;
  width: 80%;
}

.invite-bonus::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  position: absolute;
  top: -5px;
  left: 0;
  opacity: 0.2;
}

.invie-bonus-img {
  width: 20px;
}

.invite-bonus span {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 400;
}

.friends-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.friends-list-title h5 {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}

.friends-list-title img {
  width: 20px;
}

.header-card[a] {
  background: #050505;
  background: -webkit-linear-gradient(0deg, #050505 0%, #636363 100%);
  background: linear-gradient(0deg, #050505 0%, #636363 100%);
}

.header-card[b] {
  background: #171519;
  background: -webkit-linear-gradient(0deg, #171519 0%, #e32e23 100%);
  background: linear-gradient(0deg, #171519 0%, #e32e23 100%);
}

.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  width: 100%;
}

.friend-card {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px 15px;
}

.friend-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.friend-user-img {
  width: 40px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(216, 200, 200, 0.6);
}

.friend-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  row-gap: 1px;
  margin-top: 5px;
}

.friend-desc h5 {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 400;
}

.friend-desc img {
  width: 20px;
}

.friend-desc-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.friend-desc-sub span {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 200;
}

.friend-coins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1px;
}

.friend-coins img {
  width: 30px;
}

.friend-coins span {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 200;
}
