body {
  background-color: var(--color-white) !important;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 19px;
}

.header {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.lvl-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
  background-color: var(--color-accent-2);
  padding: 1px 15px;
  border-radius: 30px;
}

@media (max-width: 375px) {
  .lvl-number {
    padding: 1px 10px;
  }
}

.lvl-number h5 span {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 335px) {
  .lvl-number h5 span {
    font-size: 14px;
  }

  .lvl-number h5 {
    font-size: 10px;
  }
}

.lvl-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.lvl-img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 2px 6px;
  background-color: var(--color-sky);
}

.lvl-img img {
  width: 20px;
}

.lvl-bar {
  position: relative;
}

.lvl-exp {
  position: absolute;
  width: 30%;
  height: 20%;
  bottom: 50%;
  left: 3px;
  z-index: 10;
  border-radius: 3px;
  background: -webkit-linear-gradient(
    to right,
    #e0902c 0%,
    #edd823 25%,
    #a0c025 50%,
    #2bcb92 75%,
    #00ffff 100%
  );
  background: linear-gradient(
    to right,
    #e0902c 0%,
    #edd823 25%,
    #a0c025 50%,
    #2bcb92 75%,
    #00ffff 100%
  );
}

.total-coins {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.total-coins img {
  width: 40px;
}

.total-coins span {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.cards-container {
  position: relative;
  border: 1px solid var(--color-white);
  width: 100%;
  height: 520px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  white-space: nowrap;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
  scrollbar-width: none;
  overflow-y: auto;
  overscroll-behavior: auto;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-height: 760px) {
  .cards-container {
    height: 450px;
  }
}

@media (max-height: 672px) {
  .cards-container {
    height: 380px;
  }
}

@media (max-height: 609px) {
  .cards-container {
    height: 320px;
  }
}

.cards-nav {
  z-index: 10;
  display: flex;
  position: sticky;
  top: 10px;
  left: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
  border-radius: 13px;
  padding: 5px 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}

.cards-nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

@media (max-width: 430px) {
  .cards-nav-list {
    column-gap: 5px;
  }
}

.cards-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid transparent;
}

@media (max-width: 435px) {
  .cards-nav-item {
    padding: 5px 10px;
  }
}

@media (max-width: 390px) {
  .cards-nav-item {
    padding: 5px 8px;
  }
}

@media (max-width: 370px) {
  .cards-nav-item {
    padding: 5px;
  }
}

.cards-nav-item a {
  color: var(--color-black);
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 350px) {
  .cards-nav-item a {
    font-size: 8px;
  }
}

.active-cards {
  background-color: #edeecb;
  border: 1px solid var(--color-white);
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  width: 100%;
  height: 100%;
}

.card-item {
  position: relative;
  padding: 10px 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

@media (max-width: 420px) {
  .card-item {
    padding: 10px 15px;
  }
}

@media (max-width: 375px) {
  .card-item {
    padding: 5px 10px;
  }
}

.card-item[a] {
  background: #681f01;
  background: -webkit-linear-gradient(0deg, #681f01 0%, #ca0601 100%);
  background: linear-gradient(0deg, #681f01 0%, #ca0601 100%);
}

.card-item[b] {
  background: #4c3c36;
  background: -webkit-linear-gradient(0deg, #4c3c36 0%, #c19f8a 100%);
  background: linear-gradient(0deg, #4c3c36 0%, #c19f8a 100%);
}

.card-item[c] {
  background: #05688d;
  background: -webkit-linear-gradient(0deg, #05688d 0%, #78d5ff 100%);
  background: linear-gradient(0deg, #05688d 0%, #78d5ff 100%);
}

.card-item[d] {
  background: #0b255a;
  background: -webkit-linear-gradient(0deg, #0b255a 0%, #c42330 100%);
  background: linear-gradient(0deg, #0b255a 0%, #c42330 100%);
}

.card-item[e] {
  background: #3b4582;
  background: -webkit-linear-gradient(0deg, #3b4582 0%, #242cc5 100%);
  background: linear-gradient(0deg, #3b4582 0%, #242cc5 100%);
}

.card-item[f] {
  background: #8f8686;
  background: -webkit-linear-gradient(0deg, #8f8686 0%, #d33037 100%);
  background: linear-gradient(0deg, #8f8686 0%, #d33037 100%);
}

.card-item[g] {
  background: #352c1b;
  background: -webkit-linear-gradient(0deg, #352c1b 0%, #e65309 100%);
  background: linear-gradient(0deg, #352c1b 0%, #e65309 100%);
}

.card-item[h] {
  background: #353535;
  background: -webkit-linear-gradient(0deg, #353535 0%, #0b0b0b 100%);
  background: linear-gradient(0deg, #353535 0%, #0b0b0b 100%);
}

.card-item[i] {
  background: #8a8309;
  background: -webkit-linear-gradient(0deg, #8a8309 0%, #d22d27 100%);
  background: linear-gradient(0deg, #8a8309 0%, #d22d27 100%);
}

.card-item[j] {
  background: #0b255a;
  background: -webkit-linear-gradient(0deg, #0b255a 0%, #c42330 100%);
  background: linear-gradient(0deg, #0b255a 0%, #c42330 100%);
}

.card-item[aa] {
  background: #1d704a;
  background: -webkit-linear-gradient(0deg, #1d704a 0%, #5ccf0b 100%);
  background: linear-gradient(0deg, #1d704a 0%, #5ccf0b 100%);
}

.card-item[ab] {
  background: #2b292f;
  background: -webkit-linear-gradient(0deg, #2b292f 0%, #dcdcde 100%);
  background: linear-gradient(0deg, #2b292f 0%, #dcdcde 100%);
}

.card-item[ac] {
  background: #563b27;
  background: -webkit-linear-gradient(0deg, #563b27 0%, #846e5c 100%);
  background: linear-gradient(0deg, #563b27 0%, #846e5c 100%);
}

.card-item[ad] {
  background: #032961;
  background: -webkit-linear-gradient(0deg, #032961 0%, #0170b6 100%);
  background: linear-gradient(0deg, #032961 0%, #0170b6 100%);
}

.card-item[ae] {
  background: #864f3f;
  background: -webkit-linear-gradient(0deg, #864f3f 0%, #faaa73 100%);
  background: linear-gradient(0deg, #864f3f 0%, #faaa73 100%);
}

.card-item[af] {
  background: #0a0203;
  background: -webkit-linear-gradient(0deg, #0a0203 0%, #c72025 100%);
  background: linear-gradient(0deg, #0a0203 0%, #c72025 100%);
}

.card-item[ag] {
  background: #87888c;
  background: -webkit-linear-gradient(0deg, #87888c 0%, #37d3fe 100%);
  background: linear-gradient(0deg, #87888c 0%, #37d3fe 100%);
}

.card-item[ah] {
  background: #353535;
  background: -webkit-linear-gradient(0deg, #353535 0%, #060606 100%);
  background: linear-gradient(0deg, #060606 0%, #353535 100%);
}

.card-item[ai] {
  background: #427cf4;
  background: -webkit-linear-gradient(0deg, #427cf4 0%, #1b356b 100%);
  background: linear-gradient(0deg, #1b356b 0%, #427cf4 100%);
}

.card-item[aj] {
  background: #1d704a;
  background: -webkit-linear-gradient(0deg, #1d704a 0%, #5ccf0b 100%);
  background: linear-gradient(0deg, #1d704a 0%, #5ccf0b 100%);
}

.card-item[ba] {
  background: #151501;
  background: -webkit-linear-gradient(
    0deg,
    #151501 0%,
    #e9e50b 50%,
    #ce1400 100%
  );
  background: linear-gradient(0deg, #151501 0%, #e9e50b 50%, #ce1400 100%);
}

.card-item[ca] {
  background: #6e5c5d;
  background: -webkit-linear-gradient(0deg, #6e5c5d 0%, #7d6e74 100%);
  background: linear-gradient(0deg, #6e5c5d 0%, #7d6e74 100%);
}

.card-item[cb] {
  background: #1f2632;
  background: -webkit-linear-gradient(0deg, #1f2632 0%, #829fd0 100%);
  background: linear-gradient(0deg, #1f2632 0%, #829fd0 100%);
}

.card-item[cc] {
  background: #553a24;
  background: -webkit-linear-gradient(0deg, #553a24 0%, #cf9c45 100%);
  background: linear-gradient(0deg, #553a24 0%, #cf9c45 100%);
}

.card-item[cd] {
  background: #171918;
  background: -webkit-linear-gradient(0deg, #171918 0%, #0a391e 100%);
  background: linear-gradient(0deg, #171918 0%, #0a391e 100%);
}

.card-item[ce] {
  background: #46761f;
  background: -webkit-linear-gradient(0deg, #46761f 0%, #677361 100%);
  background: linear-gradient(0deg, #46761f 0%, #677361 100%);
}

.card-item[cf] {
  background: #7b713f;
  background: -webkit-linear-gradient(0deg, #7b713f 0%, #d12c2c 100%);
  background: linear-gradient(0deg, #7b713f 0%, #d12c2c 100%);
}

.card-item[cg] {
  background: #5c4f01;
  background: -webkit-linear-gradient(0deg, #5c4f01 0%, #f0ce00 100%);
  background: linear-gradient(0deg, #5c4f01 0%, #f0ce00 100%);
}

.card-item[ch] {
  background: #5a6e93;
  background: -webkit-linear-gradient(0deg, #5a6e93 0%, #487de0 100%);
  background: linear-gradient(0deg, #5a6e93 0%, #487de0 100%);
}

.card-item[ci] {
  background: #356b30;
  background: -webkit-linear-gradient(0deg, #356b30 0%, #b7fbb1 100%);
  background: linear-gradient(0deg, #356b30 0%, #b7fbb1 100%);
}

.card-item[cj] {
  background: #532d7e;
  background: -webkit-linear-gradient(0deg, #532d7e 0%, #8a8ab6 100%);
  background: linear-gradient(0deg, #532d7e 0%, #8a8ab6 100%);
}

.card-item img {
  width: 100px;
  border-radius: 13px;
}

@media (max-width: 420px) {
  .card-item img {
    width: 80px;
  }
}

@media (max-width: 375px) {
  .card-item img {
    width: 70px;
  }
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.card-info::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 0.2px;
  background-color: var(--color-white);
  opacity: 0.2;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 375px) {
  .card-info::after {
    width: 100%;
  }
}

.card-info h5 {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 375px) {
  .card-info h5 {
    font-size: 12px;
  }
}

.card-info span {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
}

@media (max-width: 375px) {
  .card-info span {
    font-size: 8px;
  }
}

.card-info-profit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 5px;
}

.card-info-profit span {
  text-transform: none;
}

.card-info-profit img {
  width: 15px;
}

@media (max-width: 375px) {
  .card-info-profit img {
    width: 10px;
  }
}

.card-info-footer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  column-gap: 15px;
}

.card-info-footer h5 {
  color: var(--color-white);
}

.card-info-footer img {
  width: 20px;
}

@media (max-width: 375px) {
  .card-info-footer img {
    width: 15px;
  }
}

.card-info-footer-value {
  display: flex;
  align-items: center;
  column-gap: 5px;
  position: relative;
}

.card-info-footer-value::after {
  content: "";
  position: absolute;
  width: 0.2px;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0.2;
  top: 10px;
  bottom: 0;
  left: -8px;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.lock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.overlay-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
}

.overlay-title img {
  width: 25px;
}

.overlay-title h5 {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
}
